extend layout
block content
  .page-header
    h1 Mitglieder des Bundestags #{year}
  
  .btn-group
    a(href="/q2/2009/")
      button.btn.btn-primary.btn-lg(type="button") 2009
    a(href="/q2/2013/")
      button.btn.btn-primary.btn-lg(type="button") 2013  
  
  .main-results 
    table.table.table-striped
      thead
        tr
          th Nr.
          th Kandidat
          th Partei
          th
          th Bundesland
      tbody
          each value, index in resTable
            tr
              th= index+1
              th= value.candidate
              th= value.party
              th(style= "width:30px; background-color:"+ value.color)
              th= value.federalland
