extend layout    
block content
    .page-header
      h1 Wahlkreisübersicht #{year}
      
    .btn-group
      a(href="/q3/2009/")
        button.btn.btn-primary.btn-lg(type="button") 2009
      a(href="/q3/2013/")
        button.btn.btn-primary.btn-lg(type="button") 2013

    .main-results
      select.form-control(id="federallands", onchange= "updateSelection(this.value)")
        option(value= "")= "- Bitte Bundesland auswählen -"
        each value, index in federallandOptionTable
          option(value= value.nummer)= value.nummer + " - " + value.name

      select.form-control(id="wahlkreise", onchange= "window.location=this.value")
        option(value= "")= "- Bitte Wahlkreis auswählen -"
        each value, index in optionTable
          option(value= value.nummer)= value.nummer + " - " + value.wahlkreis
      
      each value in errorTable
        .alert.alert-danger= value
      
      table.table.table-striped(id= "table1")
        thead
          tr
            th Nr.
            th Wahlkreis
            th Wahlbeteiligung
            th Siegerkandidat
        tbody(id= "body1")
          each value, index in resTable
            tr
              th= value.nummer
              th= value.wahlkreis
              th= ((value.wahlbeteiligung)*100).toFixed(2) + " %"
              th= value.candidate

           
      table.table.table-striped(id= "table2")
        thead
          tr
            th Partei
            th Anzahl der Zweitstimmen 2009
            th Anzahl der Zweitstimmen 2013
            th Prozent der Zweitstimmen 2009
            th Prozent der Zweitstimmen 2013
            th(id= "comparisoncolumn")
        tbody(id= "body2")
          each value, index in ergTable 
            tr
              th= value.party
              th(name= "absolute2009")= value.zweitstimmenabsolute2009
              th(name= "absolute2013")= value.zweitstimmenabsolute
              th(name= "percent2009")= ((value.zweitstimmenpercent2009)*100).toFixed(2) + " %"
              th(name= "percent2013")= ((value.zweitstimmenpercent)*100).toFixed(2) + " %"
              th(name= "comparison")= ""
            
      script.
        $(document).ready(function(){
          // if table is empty, then hide it
          if(document.getElementById("body2").innerHTML == ""){
            document.getElementById("table1").style.display = "none";
            document.getElementById("table2").style.display = "none";
          }
          
          if(#{year} == 2009){
            document.getElementById("comparisoncolumn").innerHTML = "Vergleich zum Jahr 2013";
          } else if(#{year} == 2013){
            document.getElementById("comparisoncolumn").innerHTML = "Vergleich zum Jahr 2009";
          }
                    
          // if a party has not participated in one election, this is marked with "-" in the absolute and the percentage field          
          $(document.getElementById("body2").rows).each(function() {
            $rowNumber = this.rowIndex;
            $(document.getElementsByName("absolute2009")).each(function() {
              if(this.parentNode.rowIndex == $rowNumber && this.innerHTML == ""){
                this.innerHTML = "----";
                $(document.getElementsByName("percent2009")).each(function(){
                    if(this.parentNode.rowIndex == $rowNumber){
                      this.innerHTML = "----";
                    }
                  });
              } 
            }); 
            
            $(document.getElementsByName("absolute2013")).each(function() {
              if(this.parentNode.rowIndex == $rowNumber && this.innerHTML == ""){
                this.innerHTML = "----";
                $(document.getElementsByName("percent2013")).each(function(){
                    if(this.parentNode.rowIndex == $rowNumber){
                      this.innerHTML = "----";
                    }
                  });
              } 
            });   
            
          });
          
          // fill the comparison column with the right difference and color it          
          $(document.getElementById("body2").rows).each(function() {
            $rowNumber = this.rowIndex;
            $(document.getElementsByName("percent2013")).each(function() {
              if(this.parentNode.rowIndex == $rowNumber){
                $percentage2013 = this.innerHTML;
                $(document.getElementsByName("percent2009")).each(function() {
                  if(this.parentNode.rowIndex == $rowNumber){
                    $percentage2009 = this.innerHTML;
                    $(document.getElementsByName("comparison")).each(function() {
                      if(this.parentNode.rowIndex == $rowNumber){
                        if($percentage2009 == "----" || $percentage2013 == "----"){
                          this.innerHTML = "----";
                        } else {
                          if(#{year} == 2013){
                            this.innerHTML = (($percentage2013).substring(1, 5) - ($percentage2009).substring(1, 5)).toFixed(2) + " %";
                          } else if(#{year} == 2009) {
                            this.innerHTML = (($percentage2009).substring(1, 5) - ($percentage2013).substring(1, 5)).toFixed(2) + " %";
                          }
                          if(this.innerHTML.contains("-")){
                            this.style.color = "red";
                          } else {
                            this.style.color = "green";
                          }
                        }
                      }
                    });
                  }
                });
              }
            });
          });
        });
        
        function updateSelection(nummer){
          select = document.getElementById("wahlkreise");
          for(i=(select.options.length-1); i>=1; i--){
            select.remove(i);
          }
    
          var map = new Map();
          map[1] = [1, 11];
          map[2] = [18, 23];
          map[3] = [24, 53];
          map[4] = [54, 55];
          map[5] = [87, 150];
          map[6] = [167, 188];
          map[7] = [198, 212];
          map[8] = [258, 295];
          map[9] = [213, 257];
          map[10] = [296, 299];
          map[11] = [75, 86];
          map[12] = [56, 65];
          map[13] = [12, 17];
          map[14] = [151, 166];
          map[15] = [66, 74];
          map[16] = [189, 197];
        
          var array = map[nummer];
          var options = !{JSON.stringify(optionTable)};
          for(i=0; i<options.length; i++){
            if(options[i].nummer >= array[0] && options[i].nummer <= array[1]){
              select.options[select.options.length] = new Option(options[i].nummer + " - " + options[i].wahlkreis);
              select.options[select.options.length-1].value = options[i].nummer;
            }
          }
        
        }
