extend layout    
block content
    .page-header
      h1 Wahlkreisübersicht

    .main-results
      select(id="wahlkreise")
      //each value, index in resTable
        each value, index in resTable1
          option(value= value.wahlkreis)= value.wahlkreis


      table.table.table-striped
        thead
          tr
            th Nr.
            th Wahlkreis
            th Wahlbeteiligung
            th Siegerkandidat
        tbody
        //each value, index in resTable1
          each value, index in resTable
            tr
              th= value.nummer
              th= value.wahlkreis
              th= ((value.wahlbeteiligung)*100).toFixed(2) + "%"
              th= value.candidate

           
    //  table.table.table-striped
    //    thead
    //      tr
    //        th Wahlkreis
    //        th Partei
    //        th Anzahl der Zweitstimmen
    //        th Prozent der Zweitstimmen
    //    tbody
    //      each value, index in resTable2
    //        tr
    //          th= value.wahlkreis
    //          th= value.party
    //          th= value.zweitstimmenabsolute
    //          th= ((value.zweitstimmenpercent)*100).toFixed(2) + "%"
            
//#{content}
