extend layout
block content
    .page-header
      h1 Wahlkreissieger #{year}
      
    .btn-group
      a(href="/q4/2009/")
        button.btn.btn-primary.btn-lg(type="button") 2009
      a(href="/q4/2013/")
        button.btn.btn-primary.btn-lg(type="button") 2013

    .main-results
      each value in errorTable
        .alert.alert-danger= value
    
      table.table.table-striped
        thead
          tr
            th Nr.
            th Wahlkreis
            th Siegerpartei Erststimmen
            th
            th Siegerpartei Zweitstimmen
            th
        tbody
          each value, index in resTable
            tr
              th= value.nummer
              th= value.wahlkreis
              th= value.winnerpartyerststimmen
              th(style= "width:30px; background-color:"+ value.erstcolor)
              th= value.winnerpartyzweitstimmen
              th(style= "width:30px; background-color:"+ value.zweitcolor)
            
          
