extend layout
block content
  .page-header
    h1 Überhangmandate #{year}
    
  .btn-group
    a(href="/q5/2009/")
      button.btn.btn-primary.btn-lg(type="button") 2009
    a(href="/q5/2013/")
      button.btn.btn-primary.btn-lg(type="button") 2013
    
  .main-results 
    each value in errorTable
      .alert.alert-danger= value
  
    table.table.table-striped
      thead
        tr
          th Partei
          th Bundesland
          th Überhangmandate
      tbody
          each value, index in resTable
            tr
              th= value.party
              th= value.federalland
              th= value.ueberhangmandate
    
    .alert.alert-info  
      | Info: Einträge mit Überhangmandaten von 0 werden ausgeblendet.
