extend layout
block content
    .page-header
      h1 Knappste Sieger
  
    .main-results 
      select.form-control(id="parteien", onChange="window.location=this.value")
        option(value= "")= "- Bitte Partei auswählen -"
        each value, index in parties
          option(value= value.id)= value.party
          
      table.table.table-striped
        thead
          tr
            th Partei
            th Rang
            th Kandidat
            th Differenz
            th Sieger
        tbody
            each value, index in resTable
              tr
                th= value.candidateparty
                th= value.rank
                th= value.candidatename
                th= value.difference
                th= value.winner
