extend layout
block content
  .page-header
    h1 Stimme abgeben für die Bundestagswahl 2013 
    

  .main-results 
    .alert.alert-info
      | Sie haben 2 Stimmen. 
    .alert.alert-info
      | Mit der Erststimme können Sie einen Wahlkreisabgeordneten wählen.
    .alert.alert-info
      | Mit der Zweitstimme können Sie eine Landesliste (Partei) wählen.
    
    each value in errorTable
      .alert.alert-danger= value
    
    form(id= "submitForm" method= "post" action= "/submit/") 
      table.table.table-striped
        thead
          tr
            th 
            th Erststimme
            th
            th
            th Zweitstimme 
            th
        tbody
          each value, index in resTable
            tr
              th
                input(type= "radio" name= "Erststimme" value= value.candidateid)
              th= value.candidate
              th= value.candidateparty
              th
                input(type= "radio" name= "Zweitstimme" value= value.partyid)
              th= value.abkuerzung 
              th= value.party
          tr
            th 
              input(type= "radio" name= "Erststimme" value= "noErststimme")
            th ungültige Stimme
            th
            th
              input(type= "radio" name= "Zweitstimme" value= "noZweitstimme")
            th ungültige Stimme
            th

      button.vote(name= "submitButton" type="submit" value="Submit") Stimme abgeben
      
    button.vote(type= button, onclick="window.location='/'") Zurück
    
    script.
      $(document).ready(function(){
        $("#submitForm input[type=radio]").each(function() {
            if (this.value == "on"){
              this.disabled = true;
            }
        });        
      });  
